! to apply this configuration:
! $ xrdb ~/.Xresources

! --- uRxvt
URxvt.cursorBlink: 1
URxvt.cursorUnderline: 1

! URxvt.font: xft:fira code retina:size=12
URxvt.font: xft:inconsolata awesome:size=12:autohint:true:antialias:true

URxvt.scrollBar: false
urxvt*depth: 32
! URxvt.background: [50]#302351  ! 50 here means 50% transparency
URxvt.internalBorder:  30
URxvt.background: #000000
URxvt.foreground:   #ffffff
URxvt.cursorColor:  #ffffff
URxvt.saveLines: 50000
URxvt.secondaryScroll: true
URxvt.geometry: 180x45

! extensions
URxvt.perl-ext-common: font-size

! extension font-size configuration
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show

! black
URxvt.color0:       #282a2e
URxvt.color8:       #373b41

! red
URxvt.color1:       #a54242
URxvt.color9:       #cc6666

! green
URxvt.color2:       #8c9440
URxvt.color10:      #b5bd68

! yellow
URxvt.color3:       #de935f
URxvt.color11:      #f0c674

! blue
URxvt.color4:       #5f819d
URxvt.color12:      #81a2be

! magenta
URxvt.color5:       #85678f
URxvt.color13:      #b294bb

! cyan
URxvt.color6:       #5e8d87
URxvt.color14:      #8abeb7

! white
URxvt.color7:       #707880
URxvt.color15:      #c5c8c6

! --- rofi
rofi.lines: 5
rofi.eh: 2
rofi.padding: 200
rofi.fullscreen: true
rofi.bw: 0
rofi.separator-style: none
rofi.hide-scrollbar: true
!                  'background', 'border', 'separator'
!rofi.color-window: #c82d303b, #7c8389, #1d1f21
! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
!rofi.color-normal: #31d1f2, #f3f4f5, #31d1f2, #31d1f2, #9575cd
rofi.font: System San Francisco Display 10
