! to apply this configuration:
! $ xrdb ~/.Xresources

! --- uRxvt
URxvt.cursorBlink: 1
URxvt.cursorUnderline: 1
URxvt.transparent: 	false

! Make the sure the font you use below supports unicode symbols
! (you can check setting a bookmark on a vim file with `,,`, should
! print a flag if it supports.
URxvt.font: xft:Iosevka Nerd Font:size=11:autohint:true:antialias:true

! Below is the configuration for using more than one font,
! but it has the collateral effect that it breaks urxvt
! resize terminal font plugin to not work anymore.
! URxvt.font: xft:Hack:size=9:autohint:true:antialias:true,\
!             xft:Hack:pixelsize=18,\
!             xft:DejaVu Sans Mono:pixelsize:18,\
!             xft:Unifont:pixelsize:16,\
!             xft:Font Awesome 5 Brands:pixelsize:16,\
!             -*-unifont-*-*-*-*-*-*-*-*-*-*-*-*

URxvt.scrollBar: false
urxvt*depth: 32
URxvt.internalBorder:  200
! [xx] below before the color hex code means xx% opacity
URxvt.background: [99]#000000
URxvt.foreground:   #ffffff
URxvt.cursorColor:  #ffffff
URxvt.saveLines: 50000
URxvt.secondaryScroll: true
URxvt.geometry: 120x40

! extensions
URxvt.perl-ext-common: default,font-size

! extension font-size configuration
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show

! copy/paste behavior
! disable default: ctrl+alt+[c,v]
URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:
! enable saner behavior
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
! disable keycap picture insert mode
URxvt.iso14755: false
URxvt.iso14755_52: false

! black
URxvt.color0:       #282a2e
URxvt.color8:       #373b41

! red
URxvt.color1:       #a54242
URxvt.color9:       #cc6666

! green
URxvt.color2:       #8c9440
URxvt.color10:      #b5bd68

! yellow
URxvt.color3:       #de935f
URxvt.color11:      #f0c674

! blue
URxvt.color4:       #5f819d
URxvt.color12:      #81a2be

! magenta
URxvt.color5:       #85678f
URxvt.color13:      #b294bb

! cyan
URxvt.color6:       #5e8d87
URxvt.color14:      #8abeb7

! white
URxvt.color7:       #707880
URxvt.color15:      #c5c8c6

! --- rofi
rofi.lines: 10
rofi.eh: 1
rofi.padding: 20
rofi.fullscreen: false
rofi.bw: 0
rofi.separator-style: none
rofi.hide-scrollbar: false
!                  'background', 'border', 'separator'
!rofi.color-window: #c82d303b, #7c8389, #1d1f21
! State:           'bg',     'fg',     'bgalt',  'hlbg',   'hlfg'
!rofi.color-normal: #31d1f2, #f3f4f5, #31d1f2, #31d1f2, #9575cd
rofi.font: System San Francisco Display 14

! better fonts
Xft.autohint: 1
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

