# HOW TO AUTOMATICALLY START THIS SERVICE AT THE USER LOGIN:
#
# 1) COPY (symlink will not work) this unit file to 
# "~/.config/systemd/user/tmux.service" (you need to create that full path if
#                                        that not exists yet.) 
#
# 2) Check if the systemd user instance is running:
#       $ systemctl --user status
#
#    If it is not:
#       $ sudo loginctl enable-linger tiago
#
#    Confirm it is running now:
#       $ systemctl --user status
#
# 3) Enable the service at boot:
#       $ systemctl --user enable tmux
#
#       Manually start the service with:
#           $ systemctl --user start tmux
#
# TIPS:
# - You may want to add WorkingDirectory=custom_path below to customize 
#   working directory.
[Unit]
Description=Start tmux in detached session

[Service]
Type=forking
ExecStart=/usr/bin/tmux new-session -s %u -d
ExecStop=/usr/bin/tmux kill-session -t %u

[Install]
WantedBy=default.target

