# ---
# https://raw.githubusercontent.com/fdev31/dotfiles/refs/heads/main/home/.config/pypr/config.toml
# ---

[pyprland]
include = [
    "~/.config/pypr/pyprland.d",
]
plugins = [
    "toggle_special",
    "lost_windows",
    "toggle_special",
    "shift_monitors",
    "toggle_dpms",
    "magnify",
    "expose",
    "menubar",
    "shift_monitors",
    "workspaces_follow_focus",
    "fetch_client_menu",
]

[workspaces_follow_focus]
max_workspaces = 9

[expose]
include_special = false

[menubar]
command = "uwsm-app -- ashell"
monitors = [
    "eDP-1",
    "DP-1",
    "HDMI-A-1",
]
